<div class="grid">
  <div class="col-4">
    <mat-card>
      <!--HEADER-->
      <mat-card-header>
        <mat-card-title> TITULO </mat-card-title>
      </mat-card-header>

      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />

      <!--CONTENIDO-->
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          sapiente aut magnam cumque! Repellendus quisquam ut culpa sapiente
          ipsam atque ducimus nesciunt distinctio, sint ratione delectus
          provident. Quia, odit ex!
        </p>
        >
      </mat-card-content>
      <!--ACCIONES-->
      <mat-card-actions>
        <button mat-button>CONFIRMAR</button>
        <button mat-button>CANCELAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card>
      <!--HEADER-->
      <mat-card-header>
        <mat-card-title> TITULO </mat-card-title>
      </mat-card-header>

      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />

      <!--CONTENIDO-->
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          sapiente aut magnam cumque! Repellendus quisquam ut culpa sapiente
          ipsam atque ducimus nesciunt distinctio, sint ratione delectus
          provident. Quia, odit ex!
        </p>
        >
      </mat-card-content>
      <!--ACCIONES-->
      <mat-card-actions>
        <button mat-button>CONFIRMAR</button>
        <button mat-button>CANCELAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
